body {
    font-size: 64px;
    --h1-variant: small-caps;
    --h2-variant: small-caps;
    --hr-color: solid;
    --line-height-normal: 1.6rem;
    text-align: justify;
}
h1 {
    border-bottom: solid;
    padding-bottom: 1.2rem;
}
h2 {
    padding-bottom: 1.2rem;
}
table {
    width: 100%;
}
img {
    display: block;
    margin: auto;
    width: 95%;
}
