{{ $dir := .Get "dir" }}
{{ $path := printf "/images/%s" $dir }}
{{ $files := readDir (printf "static/images/%s" $dir) }}

<div class="cards">
  {{ range $files }}
    {{ $ext := lower (path.Ext .Name) }}
    {{ if in (slice ".jpg" ".jpeg" ".png" ".gif" ".webp" ".mp4" ".webm" ".ogg") $ext }}
      <div class="card">
        <figure>
          {{ if in (slice ".jpg" ".jpeg" ".png" ".gif" ".webp") $ext }}
            <!-- Image thumbnail -->
            <a href="{{ printf "%s/%s" $path .Name }}" class="glightbox" data-title="{{ .Name }}">
              <img src="{{ printf "%s/%s" $path .Name }}" alt="{{ .Name }}">
            </a>
          {{ else if in (slice ".mp4" ".webm" ".ogg") $ext }}
            <!-- Video thumbnail -->
            <a href="{{ printf "%s/%s" $path .Name }}" class="glightbox" data-type="video" data-title="{{ .Name }}">
              <img src="/images/video-thumb.png" alt="{{ .Name }}">
            </a>
          {{ end }}
          <figcaption>{{ .Name }}</figcaption>
        </figure>
      </div>
    {{ end }}
  {{ end }}
</div>
